<div  style="width: 800px" class="container mt-5 h-100">
    <div class="row d-flex justify-content-center align-items-center pt-4 pb-4 rounded bg-primary ">
      <div class="col-xl-6">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body text-center">
            <div class="md-4 mt-md-1">
             <form #loginForm="ngForm" (ngSubmit)="login()">
              <h2 class="fw-bold mb-2 text-uppercase">Login Form</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <div class="form-outline form-white">
                <input type="email" [(ngModel)]="email" name="email" id="typeEmailX" class="form-control form-control-lg" placeholder="abc@example.com" email required #userEmailInput="ngModel"/>
                <label class="form-label" for="typeEmailX">Email</label>
              </div>
              <div *ngIf="userEmailInput.invalid && userEmailInput.touched" class="text-danger fw-bolder mb-3">** Invalid Email</div>
              <div class="form-outline form-white mt-4 ">
                <input type="password" [(ngModel)]="password" name="password" id="typePasswordX" class="form-control form-control-lg" pattern="[a-zA-Z0-9]{3,}" minlength="3" placeholder="Minimum 3 characters" required #userPasswordInput="ngModel"/>
                <label class="form-label" for="typePasswordX">Password</label>
              </div>
              <div *ngIf="userPasswordInput.invalid && userPasswordInput.touched" class="text-danger fw-bolder mb-3">** Invalid Password</div>
              <div class="d-grid">
                <button [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-outline-light btn-md mt-4" type="submit">Login</button>
              </div>
             </form>   
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
    </div>
  </div>