<div class="container-fluid">
    <div class="row">
        <div style="height: 92vh;width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
            <a style="text-decoration: none;color:white;" class="fw-bolder mb-3 mt-1" routerLink="/dashboard">Home </a>
            <a style="text-decoration: none;color:white;" class="fw-bolder" routerLink="/users">Users</a>
        </div>
        <div class="col-lg-10">
            <div style="height: 80%;" class="d-flex  flex-column mt-5 w-100 align-items-center justify-content-between">
                <h1>UPDATE USER FORM!!!</h1>
                <form class="border rounded shadow mt-3 p-3" style="width: 450px;" #editUserForm="ngForm">
                    <div class="d-flex align-items-center form-outline form-white mb-3 text-center">
                        <label class="form-label me-5" for="typeId">Id</label>
                        <input type="text" id="typeId" class="form-control form-control-lg ms-4" name="id"
                            [(ngModel)]="user.id" #id="ngModel" pattern="EMP[0-9]*" required />
                    </div>
                    <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger text-center">
                        *Invalid Id
                    </div>
                    <div class="d-flex align-items-center form-outline form-white mb-3 text-center">
                        <label class="form-label me-3" for="typeusername">Username</label>
                        <input type="text" id="typeusername" class="form-control form-control-lg ms-1" name="name"
                            [(ngModel)]="user.name" #name="ngModel" pattern="[a-zA-Z]*" required />

                    </div>
                    <div *ngIf="name.invalid && name.touched" class="mb-3 text-danger text-center">
                        *Invalid Username
                    </div>
                    <div class="d-flex align-items-center form-outline form-white mb-3  text-center">
                        <label class="form-label me-4" for="typeEmailX">Email</label>
                        <input type="email" id="typeEmailX" class="form-control form-control-lg ms-4" name="email"
                            [(ngModel)]="user.email" #email="ngModel" email required />
                    </div>
                    <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger text-center">
                        *Invalid Email
                    </div>
                    <div class=" d-flex align-items-center form-outline form-white mb-3 text-center">
                        <label class="form-label me-4" for="typestatus">Status</label>
                        <select id="typestatus" class="form-control form-control-lg ms-4" name="status"
                            [(ngModel)]="user.status" #status="ngModel" required>
                            <option disabled selected hidden value="">Select status</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>

                    </div>
                    <div *ngIf="status.invalid && status.touched" class="mb-3 text-danger text-center">
                        *Invalid Status
                    </div>

                    <div class="text-center">
                        <button (click)="cancelUpdate(user.id)"
                            class="btn btn-warning text-light fw-bolder rounded me-3">Cancel</button>
                        <button (click)="updateUser()" class="btn btn-success text-light fw-bolder rounded"
                            [disabled]="editUserForm.invalid">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>